#root {
  height: 100%;
  background-color: #BABABA;
}

/* Overall viewport, 5px padding, take up whole viewport with a vertical flexbox */
.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* * * * * * * * * * * *
 * Menu Bar Styling
 * * * * * * * * * * * */
.topBar {
  border: 1px solid #D4D4D5;  /* Grey color taken from Semantic UI */
  border-radius: 4px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px 1px 4px 4px;
  margin-bottom: 5px;
  background-color: white;
}

.topBarCondensed {
  border: 1px solid #D4D4D5;  /* Grey color taken from Semantic UI */
  border-radius: 4px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px 1px 4px 4px;
  margin-bottom: 5px;
  background-color: white;
}

.BCIflexmenubarspacer {
  flex-grow: 1;
}


/* * * * * * * * * * * *
 * Scrollable-contents Tabbed Interface Shell
 * * * * * * * * * * * */
.outerTabStyle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.ui.top.attached.segment.active.tab.innerTabStyle {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 5px;
  height: 0px;
  overflow-y: auto;
}

/* Allow scrolling of contents if they exceed the height of the viewport */
.tabInnerLayout {
  flex-grow: 1;
  height: 0px;
  overflow-y: auto;
}


/* * * * * * * * * * * *
 * Widget Styling
 * * * * * * * * * * * */

/* DESKTOP - Tabular Variant of the Summary */
.ui.celled.unstackable.table.BCIdesktop {
  margin: 0;
}
.BCItasksum.stickyTableHead {
  position: sticky;
  top: 0;
  z-index: 2;
}
.BCItasksum.boothStyle {
  width: 5em;
}
.BCItasksum.visitStyle {
  width: 10em;
}
.BCItasksum.simpleStyle {
  width: 8.5em;
}
.BCItasksum.openStockStyle {
  width: 15em;
}


/* MOBILE/TABLET - Flexbox Variant of the Summary */
.BCImobilevendorstatus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
}


/* Visitation Modal Quick-Action Items */
.BCIvendorquickactions {
  display: flex;
  row-gap: 5px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

/* INDIVIDUAL ITEMS */
/* Vendor List */
.tabInnerLayout.BCIouterVendorList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.BCIvendorListStyle {
  display: flex;
  width: 512px;
  margin-bottom: 5px;
  align-items: center;
  column-gap: 5px;
}
.BCIvendorBoothNumStyle {
  border: 1px solid #D4D4D5;
  background-color: #D4D4D5;
  border-radius: 4px;
  padding: 5px;
  width: 3em;
  flex-shrink: 0;
}
.BCIvendorBoothNumStyle.actioned {
  background-color: #6435C9;
  color: white;
}
.BCIvendorListName {
  text-align: left;
}

/* Vendor Visit */
.BCIdesktopsinglevendorvisit {
  width: 100%;
  flex-shrink: 0;
}
.BCImobilesinglevendorvisit {
  width: 10.2em;
  flex-shrink: 0;
}

/* Numerical Progress */
.BCIouternumerical {
  height: 100%;
  width: 10.15em;
}
.BCIlabelednumericallabel {
  width: 5.75em;
}
.BCIunlabelednumerical {
  text-align: center;
  width: 100%;
}

/* Open Stock */
.BCIopenstockmobilegroup {
  width: 222px;
}

.BCIunlabeledopenstock {
  text-align: center;
  width: 6em;
}
.BCIlabeledopenstock {
  width: 7.5em;
  text-align: center;
}

/* Simple Submittable (Profit Ctr / Power Buy) */
.BCIsimplesubmittable {
  justify-content: center;
  width: 6.5em;
}


/* GROUPS OF ITEMS */
/* Flex Container for question/answers */
.BCIquestionanswerflex {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #D4D4D5;  /* Grey color taken from Semantic UI */
  border-radius: 4px;
  padding: 5px;
  row-gap: 5px;
  column-gap: 10px;
  align-items: flex-start;
}
.BCIquestionanswerflex.unanswered {
  color: #DB2828;             /* Red color taken from Semantic UI */
  border-color: #DB2828;
}
.BCIindividualquestion {
  padding: 0 5px 0 5px;
  margin-bottom: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.ui.basic.icon.button.BCIquestionanswerbtn {
  margin-right: 10px;
}
.ui.basic.icon.button.BCIquestiondeletebtn {
  margin-left: 10px;
}
.BCIquestionanswerform {
  flex-grow: 1;
}
.BCIquestionanswerinput {
  padding: 5px;  /* FIXME: why does this not get propagated to the textarea? */
}

/* Group of Simple Submittables */
.BCItaskitemsflex {
  margin-left: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flext-start;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
}


/* * * * * * * * * * * *
 * Responsive Elements
 * * * * * * * * * * * */

/* Hide the tabular format if the display isn't wide enough */
@media (max-width: 1024px) {
  .ui.celled.unstackable.table.BCIdesktop {
    display: none;
  }
  .topBar {
    display: none;
  }
}

/* Hide the condensed / tablet-mobile view if the display is wide enough to show the desktop one */
@media (min-width: 1024px) {
  .BCImobiletablet {
    display: none;
  }
  .topBarCondensed {
    display: none;
  }
}
