#root {
  height: 100%;
}

/* Condense the menu bar buttons on small displays */
.topBar {
  border: 1px solid #D4D4D5;  /* Grey color taken from Semantic UI */
  border-radius: 4px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px 1px 4px 4px;
  margin-bottom: 5px;
}

.topBarCondensed {
  border: 1px solid #D4D4D5;  /* Grey color taken from Semantic UI */
  border-radius: 4px;
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px 1px 4px 4px;
  margin-bottom: 5px;
}

/* Hide the tabular format if the display isn't wide enough */
@media (max-width: 1024px) {
  .ui.celled.unstackable.table.BCIdesktop {
    display: none;
  }
  .topBar {
    display: none;
  }
}

.ui.celled.unstackable.table.BCIdesktop {
  margin: 0;
}

/* Hide the condensed / tablet-mobile view if the display is wide enough to show the desktop one */
@media (min-width: 1024px) {
  .ui.BCImobiletablet {
    display: none;
  }
  .topBarCondensed {
    display: none;
  }
}

/* Table contents bleed above the fixed table header when scrolling unless this is done */
.tabInnerLayout {
  flex-grow: 1;
  height: 0px;
  overflow-y: auto;
}

/* Mobile View Progress in FlexBox */
.BCImobilevendorstatus {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  column-gap: 10px;
}

/* Flex Container for tasks */
.BCItaskitemsflex {
  margin-left: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flext-start;
  flex-direction: row;
  row-gap: 10px;
  column-gap: 10px;
}

/* Flex Container for question/answers */
.BCIquestionanswerflex {
  margin-left: 2px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #D4D4D5;  /* Grey color taken from Semantic UI */
  border-radius: 4px;
  padding: 5px;
  row-gap: 5px;
  column-gap: 10px;
  align-items: flex-start;
}
.BCIquestionanswerflex.unanswered {
  /* Red color taken from Semantic UI */
  color: #DB2828;
  border-color: #DB2828;
}

.BCIindividualquestion {
  padding: 0 5px 0 5px;
  margin-bottom: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ui.basic.icon.button.BCIquestionanswerbtn {
  margin-right: 10px;
}

.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
